:root {
  font-family: Inter, system-ui, Helvetica, Arial, Helvetica, sans-serif;
}

body{
  margin: 0;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: orange;
}